/* Base */
body {
  background-color: Black;
  color: HoneyDew;
}

/* Top and bottom bars */
#top,
#bottom {
  text-align: center;
  background-color: DarkSlateGray;
  color: HoneyDew;
}

/* Menus */
#top-menu,
#bottom-menu {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Main content */
#main {
  background-color: Black;
  color: HoneyDew
}

/* Headings */
h1, h2, h3 {
  text-align: center;
  color: PaleGreen
}

/* Links */
a {
  color: LimeGreen;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.detail {
  color: LimeGreen;
}
